[submodule ".registry"]
	path = .registry
	url = https://github.com/uofuepibio/uofuepibio.r-universe.dev
	branch = HEAD
[submodule "SensIAT"]
	path = SensIAT
	url = https://github.com/UofUEpiBio/SensIAT
[submodule "barry"]
	path = barry
	url = https://github.com/USCBiostats/barryr
	registered = false
[submodule "citer"]
	path = citer
	url = https://github.com/UofUEpiBio/citer
[submodule "defm"]
	path = defm
	url = https://github.com/UofUEpiBio/defm
[submodule "epiworldR"]
	path = epiworldR
	url = https://github.com/UofUEpiBio/epiworldR
[submodule "epiworldRShiny"]
	path = epiworldRShiny
	url = https://github.com/UofUEpiBio/epiworldRShiny
[submodule "measles"]
	path = measles
	url = https://github.com/UofUEpiBio/measles
